site_name: Clean Air Project
site_description: Open-source community air-quality toolkit
site_url: https://mamaofthree579-ship-it.github.io/clean-air-project
repo_name: mamaofthree579-ship-it/clean-air-project
repo_url: https://github.com/mamaofthree579-ship-it/clean-air-project
copyright: "© 2025 Clean Air Project – Open Source Community"

docs_dir: docs
site_dir: site

theme:
  name: material
  logo: assets/logo-light.svg
  favicon: assets/logo-light.svg
  features:
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.tracking
    - content.code.copy
    - content.tooltips
    - content.tabs.link
    - content.action.edit
    - navigation.footer
    - toc.integrate

  palette:
   - scheme: default
     primary: teal
     accent: light green
   - scheme: slate
     primary: teal
     accent: light green
     toggle      
     icon: material/wweather-night
     name: Switch to dark mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - content.tabs.link
    - content.action.edit
    - toc.integrate
    - header.autohide
    - navigation.expand
    - search.suggest
    - search.highlight

plugins:
  - search
  - tags

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
  - footnotes
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_css:
  - stylesheets/extra.css
  
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mamaofthree579-ship-it/clean-air-project
      name: GitHub Repository

nav:
  - Home: index.md
  - Quick Start:
      - Build Your Node: build-guide.md
      - Wiring Guide: wiring-guide.md
  - Firmware:
      - Overview: firmware-overview.md
      - Configuration: config.md
  - Hardware Schematics:
      - All Schematics: schematics.md
  - Data & APIs:
      - API Guide: api.md
      - Data Format: data-format.md
  - Community:
      - Contributor Guide: contributing.md
      - Code of Conduct: code-of-conduct.md
      - FAQ: faq.md
      - Training Materials: training.md
