site_name: Clean Air Project
site_description: Open-source community air-quality toolkit
repo_name: mamaofthree579-ship-it/clean-air-project
repo_url: https://github.com/mamaofthree579-ship-it/clean-air-project

docs_dir: docs
site_dir: site

theme:
  name: material

plugins:
  - search
  - tags
  - minify

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
  - footnotes
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.highlight

nav:
  - Home: index.md
