name: Firmware CI

on:
  push:
    paths:
      - "src/firmware/**"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install PlatformIO
      run: pip install platformio

    - name: Build Firmware
      run: pio run -d src/firmware
      
